@media all and (max-width:499px) {
    

    #contents .titline {
        margin-left: 50%;
        padding-top: 10px;
        padding-bottom: 0px;
        width: 150px;
        border-bottom: 1px solid white;
        text-align: right;
        font-size: 20px;
        font-family: 'Dosis', sans-serif;
        color: white;
    }

    #section1 {
        width: 100%;
        background: rgb(250, 83, 83);        
    }

    #sec1_box {
        width:  320px;
        margin: 0 auto;       
    }
    
    #section1 h1 {
        font-size: 35px;
        position: absolute;
        left: 60px;
        top: 70px;
        color: rgba(134, 4, 4, 0.7);
    }
    
    #carouselwrap {
        /* width: 450px;
        height: 135px;
        margin-top: 90px;
        margin-left: 0px;    
        background-image: url("../img/background.gif");
        padding: 5px;
        position: relative; 
        background-size: 460px 145px;       
        z-index: 500; */
         display: none;       
    }
        
    #s2 {
        /* text-align: center;    
        margin-left: 0px;
        margin-top: 30px;
        border: 3px solid wheat;
        width: 450px;
        height: 300px;
        position: relative; */
        display: none;
    }
        
    #about {       
        margin-top: 70px;
        margin-left: -150px;
        float: none;             
        position: relative;     
        z-index: 20;   
    }
    
    #about img {
        display: none;
    }
    
    #profile {
        margin-left: 190px;
        padding-top: 15px;
        width: 250px;          
    }
    
    #profile ul {
        padding-top: 20px;
    }
    
    #about #profile {
        position: static;      
        /* top: 0;
        left: 0; */
        font-size: 18px;
        font-weight: normal; 
        line-height: 30px;  
    }
    
    #profile ul:first-child li {
        border-right: none;
        padding: 0px;
    }
    
    #profile ul:first-child li:last-child {
        border: none;
    } 
    
    #about #profile ul li {
        float: none;   
    }
    
    #about #profile h5 {
        clear: both;
        text-align: left;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: normal;
    }
    
    #about #profile h6 {
        text-align: left;
        padding-left: 0px;
        margin-top: 2px;
        font-weight: normal;
    }
    
    #about #profile ul li a {
        color: brown;
    }
    
    #profile ul:last-child li {
        font-size: 15px;
        color:yellow;
        margin-left: 0px;
    }


    /* section2 */

    #section2 {
        background: rgb(6, 230, 125);
    }

    #skill .skill_1 {
        margin-top: 0px;
    }

    #skill ul {
        clear: both;
        width: 300px;      
        margin: 0 auto;
        margin-top: 45px;       
    }
    
    #skill ul li {        
        float: none;   
        /* margin: 1px 10px;  */
        margin-left: 10px;
        margin-right: 0;
        text-align: left; 
        position: relative;
        overflow: hidden; 
        width: 300px;
        height: 85px;              
    }

    #skill ul li a img {
        display: none;
    }

    #skill .skill_1 li:first-child p::before {
        content: "HTML ";
        font-size: 20px;
        color: cornsilk;
    }

    #skill .skill_1 li:nth-child(2) p::before {
        content: "CSS ";
        font-size: 20px;
        color: cornsilk;
    }

    #skill .skill_1 li:nth-child(3) p::before {
        content: "JS ";
        font-size: 20px;
        color: cornsilk;
    }

    #skill .skill_2 li:first-child p::before {
        content: "CAD ";
        font-size: 20px;
        color: cornsilk;
    }

    #skill .skill_2 li:nth-child(2) p::before {
        content: "INVENTOR ";
        font-size: 20px;
        color: cornsilk;
    } 

    .skill_3 {
        display: none;
    } 
    
    #skill .skill_2 {
        margin-left: -20px;
    }

    #skill .skill_2 {
        margin: 0 auto;    
    }

    #skill .skill_2 li:first-child {
        margin-left: 5px;
    }

    #skill .skill_3 li {
        height: 30px;        
    }
    
    #skill {
        list-style: none;
        margin: 0;
        padding: 0;        
    }       
    
    #skill p {
        font-size: 15px;
        color: navy;   
        margin-top: 15px; 
    }     
    
    #section2 span {
        display: none;
    }
    
    #skill::after {
        content: "Illustrator와 PHOTOSHOP를 사용하여 웹 사이트 디자인, 배너 및 간단한 로고 작업이 가능.";
        font-size: 15px;
        color: navy;        
    } 



    /* section3 영역 */


    #section3 {
        position: relative;
        background: rgb(170, 52, 253);
    }

    .s3 {
        width: 1280px;        
    }
    
    .s3_1 {        
        display: none;
    } 
    
    .s3_2 {
        width: 300px;
        margin: 0 auto;
        margin-top: 70px;
        overflow: hidden;        
    }
    
    .s3_2_1 {
        float: left;
        position: relative;       
        margin-top: 0px;
        margin-right: 0px;
    }

    .s3_2_1 img {
        position: static;        
        /* left: 550px;
        top: 50px; */
        border-radius: 5px;
    }
    
    .s3_2_1>img {
        border-radius: 20px;
    }
    
    .s3_2_1 .text1 {
        position: absolute;
        top: 80px;
        left: 10px;  
        line-height: 21px;  
    }

    .s3_2_1 #img {
        position: absolute;
        top: 0;
        left: 0px;
    } 
     
    .s3_2_4 {
        display: none;   
    }   
     
    .s3_2_2 {       
        float: left;
        position: relative;
        margin-top: 0px;
     }

    .s3_2_2 img {
       position: static;
       /* left: 900px;
       top: 50px; */
       border-radius: 5px;
    }
    
    .s3_2_2>img {
        border-radius: 20px;
    }
    
    .s3_2_2 .text2 {
        position: absolute;
        top: 80px;
        left: 10px;  
        line-height: 21px;  
    }
    
    .s3_2_2 #img {
        position: absolute;
        top: 0;
        left: 0px;
    }   

    .s3_2_3 {
        float: left;
        position: relative;
        margin-top: 0px;
    }

    .s3_2_3 img {
        position: static;
        /* left: 300px;
        top: 400px; */
        border-radius: 5px;
    }
    
    .s3_2_3>img {
        border-radius: 20px;
    }
    
    .s3_2_3 .text3 {
        position: absolute;
        top: 80px;
        left: 10px;  
        line-height: 21px;  
    }

    .s3_2_3 #img {
        position: absolute;
        top: 0px;
        left: 0px;
    } 

    .s3_2_5 {
        float: left;
        position: relative;
        margin-top: 0px;
        margin-top: 0px;
    }

    .s3_2_5 img {
        position: static;
        /* left: 300px;
        top: 400px; */
        border-radius: 5px;
    }
    
    .s3_2_5>img {
        border-radius: 20px;
    }
    
    .s3_2_5 .text5 {
        position: absolute;
        top: 80px;
        left: 10px;  
        line-height: 21px;  
    }

    .s3_2_5 #img {
        position: absolute;
        top: 0px;
        left: 0px;
    }



    /* section4 영역 */


    #section4 {
        background: violet;
    }

    .contact-section>.inner {
        width: 300px;
        height: 500px;
        margin: 0 auto;
        padding-left: 0px;
        /* margin-top: 20px; */
        /* position: relative;  */       
    }

    .contact-form form {
        float: none;
    }

    .contact-section h2 {
        font-size: 25px;
        font-weight: normal;
        text-transform: uppercase;
        margin-left: 0px;
        color: rgb(245, 42, 6);
        margin-bottom: 30px;
    }
    
    .contact-form-wrapper {
        width: 300px;
        padding: 0px;
        position: static;
        float: left;
        margin-left: 10px;
        margin-top: 40px;
        /* left: 50%;         */
    }
    
    
    .contact-form label {
        display: block;
        font-size: 15px;
        text-transform: uppercase;    
    }
    
    .contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="TEL"] {
        width: 180px;
        border: 0;
    }
    
    .contact-form textarea {
        width: 210px;
        height: 90px;
        border: 0;
        color: black;
    }
    
    .contact-form input[type="submit"] {
        border-width: 0;
        background-color: rgb(248, 71, 219);
        color: #ccc;
        font-size: 15px;
        line-height: 1.5px;
        padding: 10px 0;
        margin-top: 5px;
        width: 120px;
        text-align: center;
        text-transform: uppercase;          
    }
    
    .contact-map {
        /* position: static;
        left: 240px;
        top: 0;
        bottom: 0;
        right: 50%;          
        width: 200px;
        height: 150px;
        float: left; */
        display: none;
    }
        


    /* section5 영역 */


    #section5 {
        background: rgb(8, 190, 190);        
    }    

    #sns {  
        float: right;    
    }
    
    #sns ul li {
        float: left;   
    }
    
    #sns ul li a {
        font-size: 20px;
        color: black; 
        padding-right: 20px;
        padding-left: 10px;   
    }
    
    @keyframes sss {
        0%{  
            transform: translateX(-10px);
        }
        100% { 
            transform: translateX(10px);
        }
    }
   
    
    #section5 #sns ul li a i:hover {
        animation: sss 0.2s ease-in infinite alternate;
    } 
    
    #s5 {
        width: 300px;
        height: 500px;
        margin: 0 auto; 
    }
    
    #s5 h1 {
        margin-top: 70px;
        margin-left: 20px;
        padding-bottom: 10px;
        font-size: 15px;
        width: 170px;    
        border-bottom: 1px solid white;
    }
    
    #s5 form {
        margin-top: -15px;
        float: right;
        margin-right: 365px;
    }
    
    #s5 form div {
        float: left;
    }
    
    #search select {
        height: 23px;
    }
    
    .inner_search input {
        /* height: 20px; */
        display: none;
    }
    
    #but button {
        /* width: 80px;
        height: 25px;
        border: none;
        color: #fff;    
        line-height: 25px; */
        display: none;
    }

    .inner_search {
        display: none;
    }

    #but {
        display: none;
    }

    #s5 form {
        display: none;
    }
    
    #but button:hover {
        background: #795cfc;
    }
    
    thead tr th {
        padding: 5px;
        color: #fff;
        font-size: 15px;
        background: #83cccb;
    }
    
    #top thead tr {
        margin-left: 30px;
    }
    
    tbody tr {
        height: 50px;       
    }
    
    .tr {
        background: #e2f8e9;
    }
    
    td  {
        color: black;
    }
    
    td a {
        color: black;
    }
    
    td a:hover {
        color: #8f23e7;
    }
    
    #search,.inner_search {
        margin-right: 5px;
    }
    
    #search_type {
        height: 25px;
    }
    
    .inner_search input {
        height: 18px;
    }
    
    #but .bnt_search {
        width: 60px;
        height: 23px;
        background: #666;
        border: none;
    }
    
    .table {
        margin-top: 20px;
        margin-left: 10px;
        width: 300px;
        font-size: 11px;
        text-align: center; 
    }
    
    .btn {    
        border-radius: 5px;
        width: 60px;
        height: 30px;
        text-align: center;    
        line-height: 30px;
        display: block;
        float: right;
        margin-top: 10px;
        margin-right: 230px;    
    }
    
    .pagination {
        clear: both;
        width: 100px;
        margin: 0 auto;    
    }
    
    .pagination:first-child {
        margin-left: 45%;
    }
    
    .pagination li {
        float: left;
        margin-top: 20px;
        text-align: center;    
    }
    
    .pagination li a {
        display: block;
        width: 20px;   
    }
    
    .pagination a:hover,
    .btn:hover {
        background: #54f5da;
        color: rgb(54, 19, 19);
        font-weight: bold;
    }

}
