*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

#header-img {        
    padding-top: 20px;
    width: 200px;
    margin-left: 520px;
    float: left;    
}

.logo {    
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#menu-top {
    box-sizing: border-box;
    float: right;   
    padding-top: 30px; 
    padding-left: 30px;
    width: 400px;
}

#menu-top ul li {
    float: left;   
}

#menu-top ul li a {
    font-size: 14px;
    color: #666;
    border-right: 1px solid #666;  
    padding-right: 20px;
    padding-left: 20px;
}

#sns {    
    float: right;    
}

#sns ul li {
    float: left;   
}

#sns ul li a {
    font-size: 30px;
    color: black; 
    padding-right: 10px;
    padding-left: 10px;   
}

#menu-bot {
    clear: both;
    height: 50px;
    margin-bottom: 10px;   
}

#menu-bot ul li {
    float: left;  
    margin-left: 15px;
}

#menu-bot ul li a {
    font-size: 30px;
    color: #666; 
    padding-right: 60px;
    padding-left: 60px; 
    font-family: 'Baloo Bhai', cursive;  
}

#menu-bot ul li a:hover {
    color: deeppink;    
}

.navimg{
    background-color: #efe6d6;
    position: relative;
    height: 350px;
    text-align: center;
    overflow: hidden;
}

#navimg2 h1{
    border-top:1px solid #8c6440;
    border-bottom:1px solid #8c6440;
    left: 540px;
    top: 120px;
    position: absolute;
    z-index: 10px;
    font-family: 'Noto Serif KR', serif;
    font-size: 40px;
    color: #8c6440;
}

#navimg3{
    left: 570px;
    top: 180px;
    position: absolute;
    z-index: 10;
}

#navimg1{
    position: absolute;
    z-index: 10px;
}

#srh{
    left: -165px;
    background-color: #efe6d6;
    position: absolute;
    top: 240px;
    z-index: 20;
    margin-left: 460px;
}

#srh ul li{
    padding: 15px;
    width: 170px;
    border: 2px solid #c7b9a0;
    float: left;
}

#srh ul li:hover{
    background-color: #fff;
}

#srh ul li a{
    color:#8c6440 ;
}
.sec{
    background-color:#efe6d6 ;
   height: 600px;
}
.sec1{ 
   background-color: #fff;
   height: 500px;
}

#sectext1{
    text-align: center;
    padding-top: 100px;
}

#secimg{
    text-align: center;
}

#sectext1 h1{
    font-family: 'Noto Serif KR', serif;
    font-size: 35px;
    color: #545351;
    padding-bottom: 20px;
}
#sectext2 ul li{
     padding: 10px 20px;
    float: left;
}

#sectext2{
    padding-left: 400px;
    height: 30px;
    
}
#sectext3{
    text-align: center;
    margin-top: 50px;
    clear: both;
}

#sectext3{
    font-size: 15px;
    color:#8c4141;
}

#sectext4{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    width: 210px;
    border: 1px solid darkgray;
}

#sectext4 a:hover{
    color: rgb(117, 85, 85);
}

#sectext4 p{
    color: rgb(58, 58, 58);
}

.all2{
    padding-top: 30px;
    border-top: 1px solid #db7093;
    background-color: #fff;
}

footer {
    padding-top: 100px; 
    padding-left: 100px;   
}

#footer-sns {
    width: 200px;
    height: 250px;
    float: left;       
    margin-left: 20px;
    position: relative;  
}

#footer-sns>.sns_1 li img {
    position: absolute;
    top: 0;
    left: 0;
}

#footer-sns>ul.sns_1 li:hover img:last-child {
    opacity: 0;
}

#footer-sns>.sns_2 li img {
    position: absolute;
    top: 45px;
    left: 0;
}

#footer-sns>ul.sns_2 li:hover img:last-child {
    opacity: 0;
}

#footer-sns>.sns_3 li img {
    position: absolute;
    top: 85px;
    left: 0;
}

#footer-sns>ul.sns_3 li:hover img:last-child {
    opacity: 0;
}

#footer-sns>.sns_4 li img {
    position: absolute;
    top: 125px;
    left: 0;
}

#footer-sns>ul.sns_4 li:hover img:last-child {
    opacity: 0;
}

#footer-net img {
    padding-right: 20px;
}

#footer-net {
    width: 800px;
    float: left; 
    padding-bottom: 30px; 
    padding-left: 40px;  
}

#footer-net img, #footer-net p {
    float: left;
    padding-right: 30px;
    font-size: 20px;
    color: #333;
}

#footer-text {
    padding-left: 40px; 
    width: 800px;
    float: left;    
}

#footer-text ul li {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}

#footer-text ul li a {
    color: #666;
    font-size: 15px;
}

#footer-add {
    float: left;
}

#footer-add p {
    padding-left: 40px; 
    color: #333;
    font-size: 15px;
}
